@model  ParaGenerator.ViewModel.ParasViewModel
@{
    ViewBag.Title = "ParaLeft";
}


<div class="container-fluid" id="ParaContainer">
    @*first row*@
    <div class="row ParaRow">
        <div class="col-sm-3 paraBorder paraBorderLeft" >
            <ul>

                @foreach (var p in Model.Paras)
                {
                    <li data-para-id="@p.ParaId" data-para-text="@p.ParaText"  class="js-click-move">@p.ParaId  </li>
                }


            </ul>
        </div>
     
       

        <div class="col-sm-3 middlePara">
           

            <div id="leftArrow">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-arrow-right
" aria-hidden="true"></span>
                </button>
            </div>

            <div id="rightArrow">
                <button type="button" class="btn btn-default " aria-label="Left Align">
                    <span class="glyphicon glyphicon-arrow-left
" aria-hidden="true"></span>
                </button>
            </div>

            <button type="button" class="btn btn-success btn-xs" id="generate">Generate</button>
        </div>



        <div class="col-sm-3 paraBorder paraBorderRight clearfix">
            <ul>

            </ul>
        </div>
    </div>

   
  
        <select name="paras" multiple id="selectTable">
            @foreach (var p in Model.Paras)
            {
                <option value="@p.ParaId"  data-para-id="@p.ParaId" data-para-text="@p.ParaText" class="js-click-move"  >@p.ParaId  </option>
            }
 
        </select>
        <button id="submitButton" type="button" class="btn btn-primary" aria-label="Left Align"><span class="glyphicon glyphicon-arrow-right
" aria-hidden="true"></span></button>
  


    <div class="row textAreaRow">

      
        <div class="col-md-3  ">

            <textarea rows="5" cols="50" id="generatedText">Your Text will be generated here.

            </textarea>
        </div>
    </div>

</div>

@section scripts
{
<script>

    $(document).ready(function () {

        $('#submitButton').click(function () {
            console.log(" r move button clicked");

            var selectedText = $('#selectTable option:selected').attr("data-para-text");
            alert(selectedText);

        });



        
    });
 
</script>




    <script>



        //defind jQuery method isChildOf()
        (function ($) {
            $.fn.extend({
                isChildOf: function (filter) {
                    return $(filter).find(this).length > 0;
                }
            });
        })(jQuery);


       console.log("start script.");
        $(document).ready(function(){

            console.log("into function");

            /*click on text will trager ajax post*/
            $('.row').on('dblclick', '.js-click-move', function (e) {


                console.log("clicked");

                var text = $(e.target);
                var paraId = text.attr("data-para-id");
                var paraText = text.attr("data-para-text");


                /*
                if text is a child of paraBorderLeft
                direction = ToR

                if text is a child of paraBorderRight
                direction = ToL
                */

                var ToR = text.isChildOf('.paraBorderLeft');

                var ToL = text.isChildOf('.paraBorderRight');


                if (ToR) {
                    var direction = "ToR";
                }

                if (ToL) {
                    var direction = 'ToL';
                }


                $.post("/api/Para",
                    {
                        paraId: paraId,
                        direction: direction
                    }

                    )

                .done(
                    function () {
                        console.log("post success.");

                        if (ToR) {
                            text.remove();
                            $(".paraBorderRight ul").append('<li data-para-id = "' + paraId + '" data-para-text="' + paraText + '" class="js-click-move"  >' + paraId + '</li>');
                        }

                        if (ToL) {
                            text.remove();
                            $(".paraBorderLeft ul").append('<li data-para-id = "' + paraId + '" data-para-text="' + paraText + '" class="js-click-move"  >' + paraId + '</li>');
                        }


                    }
                )
                .fail(
                    function () {
                        alert("ajax post failed.")
                    }
                );
            });

            /*click on button will generate text*/

            $('#generate').click(function () {
                console.log("button clicked.");

                var texts = '';
                $(".paraBorderRight li").each(function (index, item) {

                    var $item = $(item).attr('data-para-text');
                    texts += $item +" ";
                });
                console.log(texts);
                $('#generatedText').html(texts);

            });
        });

</script>
}

